<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">List of employees</span>
            <button class="btn btn-dark btn-lg float-end" routerLink="/create-employee">New employee</button>
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last name</th>
                        <th>Document</th>
                        <th>Salary</th>
                        <th>Actions</th>
                      </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                        <i class="fa fa-pen-to-square text-info"></i>
                        <i class="fa fa-trash text-warning ms-3"></i>
                      </td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                        <i class="fa fa-pen-to-square text-info"></i>
                        <i class="fa fa-trash text-warning ms-3"></i>
                      </td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                        <i class="fa fa-pen-to-square text-info"></i>
                        <i class="fa fa-trash text-warning ms-3"></i>
                      </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>          